<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/crud/create" method="post" class="form-example">
      <div class="form-example">
        <label for="name">武将名: </label>
        <input type="text" name="name" required />
      </div>
      <div class="form-example">
        <label for="name">かな: </label>
        <input type="text" name="name_kana" required />
      </div>
      <div class="form-example">
        <label for="name">出生年: </label>
        <input type="text" name="birth_year" required />
      </div>
      <div class="form-example">
        <label for="name">没年: </label>
        <input type="text" name="death_year" required />
      </div>
      <div class="form-example">
        <input type="submit" value="登録!" />
      </div>
    </form>
  </body>
</html>
