<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello</h1>
    <div style="display: flex; flex-direction: column; align-items: flex-start">
      <button style="width: auto" onclick="location.href='/crud/create'">
        to create
      </button>
      <button style="width: auto" onclick="location.href='/quiz/input'">
        武将読み仮名クイズ
      </button>
      <button style="width: auto" onclick="location.href='/quiz/choice'">
        武将生没年クイズ
      </button>
    </div>
  </body>
</html>
