{% extends "base.html" %} {% block content %}
<form
  action="/crud/update/{{data.busho_id}}"
  method="post"
  class="form-example"
>
  <div class="form-example">
    <label for="name">武将名: </label>
    <input type="text" name="name" value="{{data.name}}" required />
  </div>
  <div class="form-example">
    <label for="name">かな: </label>
    <input type="text" name="name_kana" value="{{data.name_kana}}" required />
  </div>
  <div class="form-example">
    <label for="name">出生年: </label>
    <input type="text" name="birth_year" value="{{data.birth_year}}" required />
  </div>
  <div class="form-example">
    <label for="name">没年: </label>
    <input type="text" name="death_year" value="{{data.death_year}}" required />
  </div>
  <div class="form-example">
    <input type="submit" value="更新" />
  </div>
</form>
<div>
  {% if message %}
  <p>{{ message }}</p>
  {% endif %}
</div>
{% endblock %}
